<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.sunrise" version="1.0.0">
<name>Sunrise</name> 
<description>
Apartment Automation
</description> 
<author href="http://build.phonegap.com" email="support@phonegap.com">
Joe Hart
</author> 
<icon src="sunrise.png" />
</widget>